@import '~bootstrap/scss/bootstrap';
@import './components/Article/ArticleCard/ArticleCard.module.scss';

.App  {
    display: flex;
    background-color: #faf8f8;
    flex-direction: row;
}

.articleCard {
    display: flex;
    flex-direction: row;

}